#about-us {
	color: #717073;
}
	#about-us .about-us-box {
		padding-top: 15px;
		padding-bottom: 15px;
	}
		#about-us .video-player {
			position: relative;
			width: 100%;
			padding-bottom: 58.82%;
		}
			#about-us .video-player>iframe {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}