html {
	min-height: 100%;
}
body {
	font-family: 'Gotham', Sans-serif;
	font-style: normal;
	min-height: 100%;
	color: #717073;
}
h1 {
	font-weight: 700;
	font-size: 36px;
	line-height: 44px;
}
h2 {
	font-weight: 500;
	font-size: 32px;
	line-height: 40px;
}
h3 {
	font-weight: 700;
	font-size: 28px;
	line-height: 36px;
}
h4 {
	font-weight: 500;
	font-size: 24px;
	line-height: 32px;
}
h5 {
	font-weight: 700;
	font-size: 20px;
	line-height: 28px;
}
h6 {
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
}
p, span, label, li,
div, a, button, input,
select, textarea {
	font-size: 12px;
	line-height: 20px;
	font-weight: 300;
	margin-bottom: 0;
}

p + p {
	margin-top: 8px;
}

#wrapper {
	position: relative;
	overflow: hidden;
	width: 100%;
}

.prevent-default {
	text-decoration: none;
	color: inherit;
}

.note {
	font-size: 0.8em;
	line-height: 1.4em;
	opacity: .8;
}