.primary-button {
	display: inline-block;
	width: auto;
	max-width: 296px;
	min-width: 90px;
	height: 40px;
	text-decoration: none;
	font-size: 16px;
	line-height: 42px;
	text-transform: uppercase;
	text-align: center;
	color: #FFF;
	background-color: #00a4e4;
}
.primary-button:focus,
.primary-button:hover {
	color: #FFF;
	text-decoration: none;
}

button.circular {
	font-size: 1.2rem;
	font-weight: 700;
	letter-spacing: .8px;
	margin-right: 0;
	margin-bottom: .6875rem;
	border-radius: 10em;
	color: #00a4e4;
	background-color: transparent;
	border: 2px solid #00a4e4;
}