body {
	background-color: #00a4e4;
}
#cover {
	color: #FFF;
	text-transform: uppercase;
	text-align: center;
}
	.cover-container {
		position: relative;
		z-index: 2;
		margin: 0 auto;
		width: 100%;
		max-width: 490px;
		padding-left: 15px;
		padding-right: 15px;
	}
		#logo-box {
			position: relative;
			background-color: #004471;
			padding-top: 250px;
			padding-bottom: 80px;
		}
		@media ( max-width: 768px ) {
			#logo-box {
				padding-top: 80px;
				padding-bottom: 40px;
			}
		}
			#logo {
				width: 100%;
			}
			#claim {
				position: absolute;
				bottom: 0;
				left: 13px;
				font-size: 16px;
				font-style: italic;
			}
		#content-box {
			padding-top: 60px;
			padding-bottom: 30px;
		}
		@media ( max-width: 768px ) {
			#content-box {
				padding-top: 30px;
				padding-bottom: 80px;
			}
		}
			#content-box .title-box {
				width: 100%;
				position: relative;
				margin-bottom: 30px;
			}
				#content-box .title-box:before {
					content: '';
					position: absolute;
					top: 50%;
					left: 0;
					width: 100%;
					height: 2px;
					background-color: #004471;
					z-index: 1;
				}
				#content-box .title {
					display: inline-block;
					color: #004471;
					background-color: #00a4e4;
					padding: 0 15px;
					position: relative;
					z-index: 2;
					margin: 0;
					max-width: 80%;
				}
			#content-box form {

			}
				#content-box .form-box {
					position: relative;
				}
					#content-box h6 {
						margin-top: 0;
						margin-bottom: 30px;
					}
					#content-box .form-box input {
						padding-right: 150px;
						border: 0;
						background-color: #fff;
						color: #004471;
						border-radius: 0;
						margin: 0;
						margin-bottom: 10px;
					}
					#content-box ::-webkit-input-placeholder {
						color: #00a4e4;
						font: inherit;
						line-height: inherit;
						text-transform: uppercase;
					}
					#content-box :-moz-placeholder {
						color: #00a4e4;
						font: inherit;
						line-height: inherit;
						text-transform: uppercase;
					}
					#content-box ::-moz-placeholder {
						color: #00a4e4;
						font: inherit;
						line-height: inherit;
						text-transform: uppercase;
					}
					#content-box :-ms-input-placeholder {
						color: #00a4e4;
						font: inherit;
						line-height: inherit;
						text-transform: uppercase;
					}
					#content-box .form-box .button {
						position: absolute;
						top: 0;
						right: 0;
						width: 140px;
						background-color: #717174;
						margin: 0;
						border: 0;
						border-radius: 0;
					}
					@media ( max-width: 768px ) {
						#content-box .form-box input {
							padding-right: 20px;
							text-align: center;
						}
						#content-box .form-box .button {
							position: static;
							margin: 0 auto;
							display: block;
						}
					}
					#mc-subscribe-response {
					}

			#social-networks {
				margin-top: 20px;
			}
				#social-networks .social-networks-list {
					list-style: none;
					margin: 0;
					padding: 0;
				}
					#social-networks .social-networks-list>li {
						display: inline-block;
						margin: 0 8px;
					}
						#social-networks .social-networks-list>li>a {
							display: block;
							width: 40px;
							height: 40px;
							background-color: #FFF;
							line-height: 40px;
							border-radius: 50%;
							font-size: 20px;
							text-align: center;
							color: #00a4e4;
						}
							#social-networks .social-networks-list>li>a>i {
								position: relative;
								top: 2px;
							}