#cover {
	opacity: 1 !important;
	position: relative;
	padding: 0 !important;
	width: 100%;
	overflow: hidden;
}
	#cover-logo {
		display: block;
		width: 240px;
		margin: 0 auto;
	}
	#ryfts-anim {
		width: 100%;
		max-width: 1170px;
		margin-left: auto;
		margin-right: auto;
	}
		#ryfts-anim>svg {
			width: 100%;
		}


@media ( max-width: 992px ) {
	#cover {
		padding-top: 60px !important;
	}
}
