.button, button {
	-webkit-appearance: none;
	appearance: none;
	border: 2px solid #FFF;
	background-color: rgba(255,255,255,0.2);
	color: #FFF;
	border-radius: 3px;
	text-transform: uppercase;
	padding: 0 10px;
	transition: all ease .3s;
	-webkit-transition: all ease .3s;
	-moz-transition: all ease .3s;
	-o-transition: all ease .3s;
	line-height: 40px;
	height: 40px;
	margin-top: 5px;
}
.button:hover, button:hover {
	background-color: rgba(255,255,255,.4);
}
.button:active, button:active,
.button:focus, button:focus {
	outline: 0;
	background-color: rgba(0,0,0,.1);
}

input {
	width: 100%;
	display: block;
	border: 2px solid #FFF;
	border-radius: 3px;
	background-color: rgba(255,255,255,.1);
	height: 40px;
	line-height: 40px;
	padding: 0 20px;
	margin: 10px 0;
	transition: all ease .3s;
	-webkit-transition: all ease .3s;
	-moz-transition: all ease .3s;
	-o-transition: all ease .3s;
}
input:hover {
	background-color: rgba(255,255,255,.3);
}
input:focus {
	background-color: rgba(0,0,0,.1);
	outline: 0;
}

::selection {
  background: #000; /* WebKit/Blink Browsers */
  color: #FFF;
}
::-moz-selection {
  background: #000; /* Gecko Browsers */
  color: #FFF;
}

::-webkit-input-placeholder {
	color: rgba(255,255,255,.6);
	font: inherit;
	font-style: italic;
}
:-moz-placeholder {
	color: rgba(255,255,255,.6);
	font: inherit;
	font-style: italic;
}
::-moz-placeholder {
	color: rgba(255,255,255,.6);
	font: inherit;
	font-style: italic;
}
:-ms-input-placeholder {
	color: rgba(255,255,255,.6);
	font: inherit;
	font-style: italic;
}