#press .logos {
    text-align: center;
}

#press a {
    padding: 10px;
    display: inline-block;
    width: 180px;
    height: 110px;
    margin: 0 10px;
}

#press .logo {
    width: 100%;
    height: 100%;
    opacity: 0.5;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    display: block;
    transition: all ease .3s;
}

#press .logo:hover {
    opacity: 1;
}