#roadmap {

}
	#roadmap .roadmap-container {
		position: relative;
		margin-top: 80px;
	}
		#roadmap .roadmap-line {
			position: absolute;
			top: 50%;
			left: 8%;
			width: 82%;
			height: 2px;
			background-color: #00a4e4;
			margin-top: -1px;
			z-index: 0;
		}
		#roadmap .roadmap-stop {
			display: inline-block;
			width: 16%;
			min-width: 180px;
			text-align: center;
			position: relative;
			z-index: 1;
		}
			#roadmap .roadmap-stop-anchor-point {
				position: absolute;
				width: 100%;
				height: 70px;
				left: 0;
				transform-origin: center center;
				-webkit-transform-origin: center center;
				-moz-transform-origin: center center;
				-o-transform-origin: center center;
			}
			#roadmap .roadmap-stop-anchor-point:before { /* line */
				content: '';
				position: absolute;
				width: 2px;
				height: 100%;
				top: 0;
				left: 50%;
				margin-left: -1px;
				background-color: #00a4e4;
			}
			#roadmap .roadmap-stop-anchor-point:after { /* dot */
				content: '';
				position: absolute;
				top: 0;
				left: 50%;
				margin-top: -4px;
				margin-left: -4px;
				width: 8px;
				height: 8px;
				background-color: #FFF;
				border: 2px solid #00a4e4;
				transform: rotate(45deg);
				-webkit-transform: rotate(45deg);
				-moz-transform: rotate(45deg);
				-o-transform: rotate(45deg);
			}
			#roadmap .roadmap-stop-number {
				position: absolute;
				left: 50%;
				width: 40px;
				height: 40px;
				margin-left: -20px;
				text-align: center;
				background-color: #00a4e4;
				border-radius: 50%;
				color: #fff;
			}
				#roadmap .roadmap-stop-number>span {
					display: inline-block;
					font-size: 30px;
					line-height: 42px;
				}
			#roadmap .roadmap-stop-inner {
			}
				#roadmap .roadmap-stop-stage {
					text-transform: uppercase;
					font-size: 15px;
					font-weight: 700;
					color: #00a4e4;
					padding-bottom: 5px;
					margin-bottom: 10px;
					position: relative;
				}
					#roadmap .roadmap-stop-stage:after {
						content: '';
						position: absolute;
						bottom: 0;
						left: 50%;
						width: 30px;
						height: 1px;
						margin-left: -15px;
						border-bottom: 2px dashed #00a4e4;
					}
				#roadmap .roadmap-stop-date {
					color: #989a9d;
					font-size: 14px;
					font-weight: 500;
					margin-top: 10px;
				}
				#roadmap .roadmap-stop-description {
					font-weight: 500;
					line-height: 18px;
					height: 40px;
				}

		/* .roadmap-stop .top */
		#roadmap .roadmap-stop.top {
			padding-bottom: 80px; /* space for anchor-point */
			padding-top: 60px; /* space for .roadmap-stop-number + 20px bottom margin */
			top: -245px;
			vertical-align: bottom;
		}
			#roadmap .roadmap-stop.top .roadmap-stop-anchor-point {
				transform: rotate(180deg);
				-webkit-transform: rotate(180deg);
				-moz-transform: rotate(180deg);
				-o-transform: rotate(180deg);
				bottom: 0;
			}
				#roadmap .roadmap-stop.top .roadmap-stop-number {
					top: 0;
				}

		/* .roadmap-stop .bottom */
		#roadmap .roadmap-stop.bottom {
			padding-top: 80px; /* space for anchor-point */
			padding-bottom: 60px; /* space for .roadmap-stop-number + 20px bottom margin */
			margin-top: 245px;
			vertical-align: top;
		}
			#roadmap .roadmap-stop.bottom .roadmap-stop-anchor-point {
				top: 0;
			}
				#roadmap .roadmap-stop.bottom .roadmap-stop-number {
					bottom: 0;
				}


@media ( max-width: 1280px ) {
	#roadmap .roadmap-stop {
		min-width: 0;
	}
}

@media ( max-width: 992px ) {
	#roadmap {}
	#roadmap .roadmap-container {
		margin-top: 40px;
	}
	#roadmap .roadmap-line {
		top: 0;
		left: 50%;
		width: 2px;
		height: 100%;
		margin-left: -113px;
	}
	#roadmap .roadmap-stop {
		display: block;
		margin: 0 auto !important;
		top: 0 !important;
		vertical-align: initial !important;
		padding-top: 20px !important;
		padding-bottom: 20px !important;
		width: 200px;
	}

	.roadmap-stop.top {}
	#roadmap .roadmap-stop-anchor-point {
		position: absolute;
		bottom: initial !important;
		left: 0 !important;
		top: 50% !important;
		width: 15px;
		height: 15px;
		margin-left: -20px;
	}
	/* line */
	#roadmap .roadmap-stop-anchor-point:before {
		display: none;
	}
	/* dot */
	#roadmap .roadmap-stop-anchor-point:after {
		top: 50%;
	}
	#roadmap .roadmap-stop-number {
		position: static;
		margin: 0 auto 20px;
	}
	#roadmap .roadmap-stop-number>span {
	}
	#roadmap .roadmap-stop-inner {
	}
	#roadmap .roadmap-stop-stage {
	}
	#roadmap .roadmap-stop-stage:after {
	}
	#roadmap .roadmap-stop-date {
	}
	#roadmap .roadmap-stop-description {
		height: auto;
	}

	/* .roadmap-stop .top */
	#roadmap .roadmap-stop.top {}
	#roadmap .roadmap-stop.top .roadmap-stop-anchor-point {
		transform: rotate(0);
		-webkit-transform: rotate(0);
		-moz-transform: rotate(0);
		-o-transform: rotate(0);
	}
	#roadmap .roadmap-stop.top .roadmap-stop-number {}

	/* .roadmap-stop .bottom */
	#roadmap .roadmap-stop.bottom {}
	#roadmap .roadmap-stop.bottom .roadmap-stop-anchor-point {
	}
	#roadmap .roadmap-stop.bottom .roadmap-stop-number {
	}
}